# Docker
.docker/
docker-compose.override.yml

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# System Files
.DS_Store
Thumbs.db 